/* Write your CSS here */
.list-style {
  list-style: none;
  color: black;
}
.list-style-active {
  border: solid #0284c7;
  border-width: 1px;
  color: #0284c7;
  border-radius: 15px;
}
.button {
  background-color: transparent;
  border: none;
}
